:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #d4d4d4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #d4d4d4;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}
